
#hero > #mission{
  color:white;
  text-align: center;
  font-size: 28px;
  background:rgba(0, 0,0, 0.2);
}

#words{
  width: 90%;
  height: 450px;
  border: 2px transparent;
  margin: 0 auto;
  position: relative;

}

#words p{
  font-size: 18px;
  font-style: none;
}

#container1{
  width: 90%;
  height: 550px;
  border: 2px transparent;
  margin: 0 auto;
  position: relative;
  background: transparent;
}

#container1 > img {
  width:100%;
  height: 100%;
  border-radius: 60px;
  position: absolute;
}

#container1 > button {
  position: absolute;
}

#container1 > .btn{
  position: absolute;
  width: 50px;
  height: 50px
  border: none;
  border-radius: 25px;
  top: 200px;
  background: transparent;
  color: white;
  font-size: 20px;
}

#container1 > #btn1:hover {
  box-shadow: 10px 0px 20px 0px black;
}

#container1 > #btn2:hover {
  box-shadow: -10px 0px 20px 0px black;
}

#container1 > #btn2{
  position: relative;
  float: right;
}


/* Media Queries */
@media(max-width: 767px) {

  #container1 > img {
    width:90%;
    height: 60%;
    border-radius: 60px;
    position: absolute;
  }

  #container1 > #btn2{
    position: relative;
    margin-right: 30px;
  }







}
