.container {
    width: 80%;
    height: 600px;
    background: none;
    border-radius: 20px;
    margin: auto;
    padding: 0;
    background-color: rgba(0,0,0,0.3);
}

.container > h1{
  text-align: center;
  font-family: cursive;
  font-size: 60px;
  color:blue;
}

.one {
    width: 50%;
    height: 500px;
    background: none;
    border-radius: 20px;
    float: left;
}

.one > img{
  width: 100%;
  border-radius: 20px;
}

.two {
    background: none;
    border-radius: 20px;
}

.two > p{
  color: white;
}


/* Media Queries */
@media(max-width: 767px) {

  


}
