#container {
    width: 100%;
    background-color: white;
  /*  margin: auto;*/
}
#first {
    width: 50%;
    float: left;
    height: 600px;
    background-color: white;
}

#first > img{
  width:100%;
  height: 100%;
}
#second {
    width: 50%;
    float: left;
    height: 600px;
    background-color: white;

}

#header > h1{
  text-align: center;
}

#second > p{
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  text-align: center;
}
