/* Custom stylesheet */

html, body{
  background-size: cover;
  height: 100%;
  width: 100%;
}

.text-center{
  text-align: center;
}

ul{
  list-style: none;
}

#hero{
  background-image:url('../img/night-sky.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:100%;
  margin:0 auto;
  position: relative;
}

#hero > #hero-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero > #hero-text > h1{
  color: #fff;
  margin-top:-120px;

}

/* Icon Row */
#iconRow{
  padding: 60px 0;
}


/*Navigation Menu */
.custom-navigation{
  background: transparent;
  height: 70px;
  width: 100%;
  z-index: 99999999;
}

.custom-navigation #logo{
  color: #fff;
  padding: 20px 0 0 25px;
  font-size:24px;
}

.custom-navigation #links, #logo{
  display: inline-block;
}

.custom-navigation #links{
  list-style: none;
  padding:0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 25px 0 0 ;

}

.custom-navigation .toggle-nav{
  list-style: none;
  padding:0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 25px 0 0 ;
  display: none;

}

 /*Custom visible class*/
 /*
.custom-navigation > #links.visible {
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
*/
.custom-navigation #links >li {
  display: inline-block;
  color: #fff;
  padding-right: 20px;
}
/*
.custom-navigation #links.visible > li {
  display: lock;
  padding-right: 0;
  margin-top: 15px;
  font-size: 20px;
}
*/
/*Footer*/
footer.second{
	border-top:10px solid black;
	background-color: black;
	max-height: 65px;
	margin: 0;
  text-align: center;
}

footer.second p{
	padding: 5px 0 9px 0;
	text-align: center;
  color: #fff;
}



/* Media Queries */
@media(max-width: 767px) {

    .custom-navigation {
        position:relative;
        display:inline-block;
    }

    .custom-navigation #links.active {
        display:none;
    }

    .custom-navigation #links {
        padding: 45px 0px;
    }

    .custom-navigation #links li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }

    .custom-navigation #links a {
        display:block;
    }

    .custom-navigation .toggle-nav {
        list-style: none;
        padding:0;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 25px 0 0 ;
        display:inline-block;
    }

    .custom-navigation .toggle-nav .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }


  #hero > #hero-text > h1{
    font-size: 24px;
  }

  .sm-dev-padding{
    padding-top: 60px;
  }
}
